rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfiles/{userId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }

    match /tracks/{trackId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.id == trackId
        && request.resource.data.reviews.size() == 0;
      allow update: if request.auth != null
        && request.resource.data.id == trackId
        && request.resource.data.reviews.size() >= resource.data.reviews.size();
      allow delete: if false;
    }
  }
}